.card-container {
  margin-bottom: 80px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.card-buttons-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #AAA;
}

.checkbox-icon {
  margin-right: 3px;
}

.todo-item-container {
  padding-bottom: 10px;
  border-bottom: thin solid #AAA;
}

.todo-item, .todo-item:active {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-size: 16px;
}

.todo-item:focus {
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #007aff;
}

.todo-item:disabled {
  background-color: #FFF;
  color: #AAA;
  text-decoration-line: line-through;
}

.remove-button, .remove-button:active, .remove-button:focus {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.drawer-header {
  height: 120px;
  background-image: url('./cover.png');
  /* background-image: url('./cover.png'); */
  /* background-color: #2980b9; */
  background-size: cover;
  display: flex;
  justify-content: center;
  /* flex: 1; */
  /* color: #999; */
  color: #999999;
  padding-left: 20px;
  flex-direction: column;
  font-size: 0.8em;
  line-height: 0.25;
}

.drawer-text {
  margin-left: 0;
  font-size: 0.8em;
  color: #666666;
}

.drawer-footer {
  background-color: #FFF;
  flex-grow: 1;
}

.fa-trash-alt {
  color: #fff;
}
